<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.swagger.mapper.FilmMapper">
    <resultMap id="BaseResultMap" type="io.swagger.domain.Film">
        <id column="film_id" jdbcType="INTEGER" property="filmId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="release_year" jdbcType="DISTINCT" property="releaseYear"/>
        <result column="language_id" jdbcType="SMALLINT" property="languageId"/>
        <result column="rental_duration" jdbcType="SMALLINT" property="rentalDuration"/>
        <result column="rental_rate" jdbcType="NUMERIC" property="rentalRate"/>
        <result column="length" jdbcType="SMALLINT" property="length"/>
        <result column="replacement_cost" jdbcType="NUMERIC" property="replacementCost"/>
        <result column="rating" jdbcType="VARCHAR" property="rating"/>
        <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate"/>
        <result column="special_features" jdbcType="ARRAY" property="specialFeatures"/>
        <result column="fulltext" jdbcType="OTHER" property="fulltext"/>
    </resultMap>
    <sql id="Base_Column_List">
    film_id, title, description, release_year, language_id, rental_duration, rental_rate, 
    length, replacement_cost, rating, last_update, special_features, fulltext
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from film
        where film_id = #{filmId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from film
    where film_id = #{filmId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="io.swagger.domain.Film">
        <selectKey keyProperty="filmId" order="AFTER" resultType="java.lang.Integer">
            PostgreSQL
        </selectKey>
        insert into film (title, description, release_year,
        language_id, rental_duration, rental_rate,
        length, replacement_cost, rating,
        last_update, special_features, fulltext
        )
        values (#{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{releaseYear,jdbcType=DISTINCT},
        #{languageId,jdbcType=SMALLINT}, #{rentalDuration,jdbcType=SMALLINT}, #{rentalRate,jdbcType=NUMERIC},
        #{length,jdbcType=SMALLINT}, #{replacementCost,jdbcType=NUMERIC}, #{rating,jdbcType=VARCHAR},
        #{lastUpdate,jdbcType=TIMESTAMP}, #{specialFeatures,jdbcType=ARRAY}, #{fulltext,jdbcType=OTHER}
        )
    </insert>
    <insert id="insertSelective" parameterType="io.swagger.domain.Film">
        <selectKey keyProperty="filmId" order="AFTER" resultType="java.lang.Integer">
            PostgreSQL
        </selectKey>
        insert into film
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                title,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="releaseYear != null">
                release_year,
            </if>
            <if test="languageId != null">
                language_id,
            </if>
            <if test="rentalDuration != null">
                rental_duration,
            </if>
            <if test="rentalRate != null">
                rental_rate,
            </if>
            <if test="length != null">
                length,
            </if>
            <if test="replacementCost != null">
                replacement_cost,
            </if>
            <if test="rating != null">
                rating,
            </if>
            <if test="lastUpdate != null">
                last_update,
            </if>
            <if test="specialFeatures != null">
                special_features,
            </if>
            <if test="fulltext != null">
                fulltext,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="releaseYear != null">
                #{releaseYear,jdbcType=DISTINCT},
            </if>
            <if test="languageId != null">
                #{languageId,jdbcType=SMALLINT},
            </if>
            <if test="rentalDuration != null">
                #{rentalDuration,jdbcType=SMALLINT},
            </if>
            <if test="rentalRate != null">
                #{rentalRate,jdbcType=NUMERIC},
            </if>
            <if test="length != null">
                #{length,jdbcType=SMALLINT},
            </if>
            <if test="replacementCost != null">
                #{replacementCost,jdbcType=NUMERIC},
            </if>
            <if test="rating != null">
                #{rating,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdate != null">
                #{lastUpdate,jdbcType=TIMESTAMP},
            </if>
            <if test="specialFeatures != null">
                #{specialFeatures,jdbcType=ARRAY},
            </if>
            <if test="fulltext != null">
                #{fulltext,jdbcType=OTHER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="io.swagger.domain.Film">
        update film
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="releaseYear != null">
                release_year = #{releaseYear,jdbcType=DISTINCT},
            </if>
            <if test="languageId != null">
                language_id = #{languageId,jdbcType=SMALLINT},
            </if>
            <if test="rentalDuration != null">
                rental_duration = #{rentalDuration,jdbcType=SMALLINT},
            </if>
            <if test="rentalRate != null">
                rental_rate = #{rentalRate,jdbcType=NUMERIC},
            </if>
            <if test="length != null">
                length = #{length,jdbcType=SMALLINT},
            </if>
            <if test="replacementCost != null">
                replacement_cost = #{replacementCost,jdbcType=NUMERIC},
            </if>
            <if test="rating != null">
                rating = #{rating,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdate != null">
                last_update = #{lastUpdate,jdbcType=TIMESTAMP},
            </if>
            <if test="specialFeatures != null">
                special_features = #{specialFeatures,jdbcType=ARRAY},
            </if>
            <if test="fulltext != null">
                fulltext = #{fulltext,jdbcType=OTHER},
            </if>
        </set>
        where film_id = #{filmId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="io.swagger.domain.Film">
    update film
    set title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      release_year = #{releaseYear,jdbcType=DISTINCT},
      language_id = #{languageId,jdbcType=SMALLINT},
      rental_duration = #{rentalDuration,jdbcType=SMALLINT},
      rental_rate = #{rentalRate,jdbcType=NUMERIC},
      length = #{length,jdbcType=SMALLINT},
      replacement_cost = #{replacementCost,jdbcType=NUMERIC},
      rating = #{rating,jdbcType=VARCHAR},
      last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      special_features = #{specialFeatures,jdbcType=ARRAY},
      fulltext = #{fulltext,jdbcType=OTHER}
    where film_id = #{filmId,jdbcType=INTEGER}
  </update>
</mapper>
