<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.swagger.mapper.SalesByFilmCategoryMapper">
    <resultMap id="SalesByFilmCategoryMapper" type="io.swagger.domain.SalesByFilmCategory">
        <result column="category" jdbcType="VARCHAR" property="category"/>
        <result column="total_sales" jdbcType="NUMERIC" property="totalSales"/>
    </resultMap>
</mapper>
